body {
    margin: 0;
    padding: 0;
}

.header {
    height: 100px;
    /* background-color: red; */
}
.navigation {
    width: 1000px;
    /* background-color: blue; */
    /*margin-top: 0;
    margin-bottom: 0;
    margin-right: 300px;
    margin-left: 300px; */
    /* margin: 0 300px 0 300px; */
    /* margin: 0 300px; */
    margin: 0 auto;
}
.logo {
    float: left;
}
.menu {
    float: left;
}
.menu > ul {
    list-style-type:none;
}
.menu >ul>li {
  float: left;
  padding: 15px 20px;
}
.socialmedia {
    float: left; 
}
.socialmedia > ul {
    list-style-type:none;
}
.socialmedia >ul>li {
  float: left;
  padding: 15px;
}
.slider {
    height: 500px;
    /* background: yellow; */

}
.slide {
    width: 1000px;
    height: 600px;
    /* background: green; */
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    background-image: url(./slide.jpg);
    background-repeat: no-repeat;
    
}
 .slide >h3 {
    text-align: center;
    margin: 0;

}
.slide >h2 {
    text-align: center;
}
.slide >p {
    text-align: center;
} 
.cardsection {
    height: 400px;
    background: violet;
}
.card {
    width: 1000px;
    /* background: gray; */
    margin: 0 auto;
}
.leftcard,.centercard,.rightcard {
    float: left;
}
.footer {
    height: 100px;
    /* background:brown; */
}
.footer >p{
    text-align: center;
    padding-top: 40px;
    margin: 0;
}
