.header {
    height: 100px;
    background-color: red;
}
.navigation {
    width: 1000px;
    background-color: blue;
    /*margin-top: 0;
    margin-bottom: 0;
    margin-right: 300px;
    margin-left: 300px; */
    /* margin: 0 300px 0 300px; */
    /* margin: 0 300px; */
    margin: 0 auto;


    
}